{% extends('@Dash/layout.html.twig') %}


{% block body %}
	<div class="col-lg-12">
		{% if id==1 %}
			<p><embed src="{{asset('assets/documentos/control-aspectos-ambientales.pdf')}}" width="1050" height="650"></p>
		{% elseif id==2 %}
			<p><embed src="{{asset('assets/documentos/Pruebas y puesta en marcha de instalaciones y equipos.pdf')}}" width="1050" height="650"></p>
        {% elseif id==3 %}
			<p><embed src="{{asset('assets/documentos/USO DE MAQUINARIA Y EQUIPO.pdf')}}" width="1050" height="650"></p>
        {% elseif id==4 %}
            <p><embed src="{{asset('assets/documentos/MANEJO DE COMBUSTIBLES Y SUSTANCIAS QUÍMICAS.pdf')}}" width="1050" height="650"></p>
        {% elseif id==5 %}
			<p><embed src="{{asset('assets/documentos/proteccionambiental.pdf')}}" width="1050" height="650"></p>
        {% elseif id==6 %}
			<p><embed src="{{asset('assets/documentos/DESPACHO DE COMBUSTIBLE AL CONSUMIDOR.pdf')}}" width="1050" height="650"></p>
        {% elseif id==7 %}
			<p><embed src="{{asset('assets/documentos/ACCESO Y CIRCULACIÓN DE AUTO TANQUES Y VEHÍCULOS DE REPARTO.pdf')}}" width="1050" height="650"></p>
        {% elseif id==8 %}
			<p><embed src="{{asset('assets/documentos/descarga de combustible con autotanques.pdf')}}" width="1050" height="650"></p>
        {% elseif id==9 %}
			<p><embed src="{{asset('assets/documentos/ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA.pdf')}}" width="1050" height="650"></p>
        {% elseif id==10 %}
			<p><embed src="{{asset('assets/documentos/ADMINISTRACIÓN DE CAMBIOS DE TECNOLOGÍA.pdf')}}" width="1050" height="650"></p>
		{% endif %}
	</div>
{% endblock %}

