{% extends('@Dash/layout.html.twig') %}


{% block body %}
	<div class="col-lg-12">
		{% if id==1 %}
			<p><embed src="{{asset('assets/documentos/INTEGRIDAD MECÁNICA Y ASEGURAMIENTO DE CALIDAD.pdf')}}" width="1050" height="650"></p>
		{% elseif id==2 %}
			<p><embed src="{{asset('assets/documentos/MANUAL DE MANTENIMIENTO A MAQUINARIA Y EQUIPO.pdf')}}" width="1050" height="650"></p>
        {% elseif id==3 %}
			<p><embed src="{{asset('assets/documentos/IDENTIFICACIÓN DE EQUIPOS CRÍTICOS.pdf')}}" width="1050" height="650"></p>
        {% elseif id==4 %}
            <p><embed src="{{asset('assets/documentos/limpieza y revision.pdf')}}" width="1050" height="650"></p>
        {% elseif id==5 %}
			<p><embed src="{{asset('assets/documentos/REVISIÓN, LIMPIEZA Y MANTENIMIENTO DE LOS ELEMENTOS CONSTRUCTIVOS E INSTALACIONES.pdf')}}" width="1050" height="650"></p>
        {% elseif id==6 %}
			<p><embed src="{{asset('assets/documentos/REVISIÓN Y MANTENIMIENTO ANUAL DE LOS SISTEMAS Y ELEMENTOS DE SEGURIDAD.pdf')}}" width="1050" height="650"></p>
        {% elseif id==7 %}
			<p><embed src="{{asset('assets/documentos/REVISIÓN Y MANTENIMIENTO ANUAL DE LOS EQUIPOS INSTALADOS.docx')}}" width="1050" height="650"></p>

		{% endif %}
	</div>
{% endblock %}

