{% extends('@Dash/layout.html.twig') %}

{% block body %}
    <div class="col-lg-12">
        <h2>Control de documentos</h2>
        <hr>
        {% if app.user.level.idl == 1 or app.user.level.idl == 2 %}
            <a class="btn btn-default btn-cons m-t-10" href="{{ path('newcde') }}"><i class="fa fa-plus"> </i> Insertar</a>
        {% endif %}
	<div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <tr align="center">
                        <td>No.</td>
                        <td>Nombre del documento</td>
                        <td>Fecha última de revisión y/o actualización</td>
                        <td><i class="fa fa-calendar-plus-o"> </i></td>
                        <td>Frecuencia de revisión</td>
                    </tr>
                    {% for doc in documentose %}
                    <tr align="center">

                            <td>{{ doc.idde }}</td>
                            <td>{{ doc.nombredocumento }}</td>
                            <td>{{ doc.fechaultima|date("d/m/Y") }}</td>
                            {% if app.user.level.idl == 1 or app.user.level.idl == 2 %}
                                <td><a href="{{ path('nfcd' , {'id': doc.idde }) }}" data-toggle="tooltip" title="Actualizar fecha"><i class="fa fa-plus"></i></a></td>
                            {% endif %}
                            <td>
                                {% for rev in revisiones %}
                                    {% if rev.documentosExternos == doc %}
                                        {{ rev.fecha|date('m/Y') }} |
                                    {% endif %}
                                {% endfor %}
                            </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
    </div>
{% endblock %}