{% extends('@Dash/layout.html.twig') %}

{% block body %}

    <div class="col-lg-12">
        <h2>Listado de equipos nuevos</h2>
        <a class="btn btn-default btn-cons m-t-10" href="{{ path('newlven') }}" role="button"><i class="fa fa-plus"> Insertar</i> </a>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered" border="2">

                        <tr align="center">
                            <td>No. Id</td>
                            <td>Nombre de estacion</td>
                            <td>link</td>


                        </tr>
                        <tr align="center">
                            {% for eq in eqnu %}
                                <td>{{ eq.idlen }}</td>
                                <td>{{ eq.nombreEstacion }}</td>
                                <td><a href="{{ path('lvesc', {'id': eq.idlen}) }}" data-toggle="tooltip" title="Ver"> Ver Reporte {{ eq.idlen }} <i class="fa fa-eye"></i></a></td>
                            {% endfor %}
                        </tr>


                    </table>



                </div>


            </div>
        </div>
    </div>
{% endblock %}