{% extends('@Dash/layout.html.twig') %}

{% block title %}Requerimientos Legales | {{ parent() }}{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('assets/plugins/datatables-responsive/css/datatables.responsive.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/plugins/datatables-responsive/js/datatables.responsive.js')}}" type="text/javascript"></script>
{% endblock %}

{% block body %}


		<div class="col-lg-12">
			<a class="btn btn-default btn-cons m-t-10" href="{{ path('new') }}">Insertar Nuevo Requerimiento</a>
			<div class="table-responsive">
				<table class="table">
					<tr>

							<th>Dependencia</th>
							<th>Clasificación</th>
							<th>Codificación</th>
							<th>Título</th>
							<th>Año de Emisión</th>
							<th>Patrón</th>
							<th>Trabajadores</th>
							<th>Generales</th>
							<th>Disposiciones Específicas</th>
							<th>Artículos Aplicables</th>
							<th>Descripción</th>
							<th>Enlace</th>
						</tr>

					<tbody>

					{% for requisito in data %}
						<tr>

							<td>{{ requisito.dependencia }}</td>
							<td>{{ requisito.clasificacion }}</td>
							<td>{{ requisito.codificacion }}</td>
							<td>{{ requisito.titulo }}</td>
							<td>{{ requisito.anoEmision }}</td>
							<td>{{ requisito.patron }}</td>
							<td>{{ requisito.trabajadores }}</td>
							<td>{{ requisito.generales }}</td>
							<td>{{ requisito.disposicionesEspecificas }}</td>
							<td>{{ requisito.articulosAplicables }}</td>
							<td>{{ requisito.descripcionRequisito }}</td>
							<td>{{ requisito.link }}</td>
							<td>
								<div class="btn-group btn-group-xs">
									<a href="#" data-toggle="tooltip" title="Editar" class="btn btn-default"><i class="fa fa-edit"></i></a>
								</div>
							</td>
						</tr>

					{% endfor %}
					</tbody>
				</table>
			</div>

		</div>



{% endblock %}