{% extends('@Dash/layout.html.twig') %}

{% block body %}
    <div class="col-lg-12">


        {{ form_start(form,  {'action':path('newlven')}) }}
            <div class="row">
                <div class="col-lg-6">
                    <label for="revision">Nombre estación o servicio</label>
                    {{ form_widget(form.nombre_estacion, {'attr': {'class': 'form-control counted' } }) }}
                    {% if form.nombre_estacion.vars.errors|length > 0 %}
                        <p class="help-block">
                            {% for error in form.nombre_estacion.vars.errors %}
                                {{ error.message }} <br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                    <label for="equipo">Equipo / sistema</label>
                    {{ form_widget(form.equipo, {'attr': {'class': 'form-control counted' } }) }}
                    {% if form.equipo.vars.errors|length > 0 %}
                        <p class="help-block">
                            {% for error in form.equipo.vars.errors %}
                                {{ error.message }} <br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                    <label for="revision">Nombre estación o servicio</label>
                    {{ form_widget(form.nombre_estacion, {'attr': {'class': 'form-control counted' } }) }}
                    {% if form.nombre_estacion.vars.errors|length > 0 %}
                        <p class="help-block">
                            {% for error in form.nombre_estacion.vars.errors %}
                                {{ error.message }} <br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>




            </div>

        {{ form_end(form) }}
    </div>


{% endblock %}