{% extends('@Dash/layout.html.twig') %}

{% block body %}


<div class="col-lg-12">
<h2>Datos del observador</h2>

    {{ form_start(form,  {'action':path('newrepo')}) }}

    <div class="row">

        <div class="col-lg-6">

            <div class="form-group">

                <label>Nombre del Observador</label>
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'} }) }}

            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-check form-check-inline">

                    {{ form_label(form.colaborador) }}
                    {{ form_widget(form.colaborador) }}

            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-check form-check-inline">
                <fieldset disabled>
                    {{ form_label(form.contratista) }}
                    {{ form_widget(form.contratista) }}
                </fieldset>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-check form-check-inline">
                <fieldset disabled>
                    {{ form_label(form.visitante) }}
                    {{ form_widget(form.visitante) }}
                </fieldset>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6">

            <div class="form-group">

                    <label>Lugar</label>
                    {{ form_widget(form.lugar, {'attr': {'class': 'form-control'} }) }}

            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">

                    <label>Tipo de observación</label>
                    {{ form_widget(form.tipo_observacion, {'attr': {'class': 'form-control'} }) }}

            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-lg-3">
            <label>Fecha</label>
            {{ form_widget(form.fecha, {'attr': {'class': 'form-control date'}}) }}
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                    <label>Hora</label>
                    {{ form_widget(form.hora, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-lg-2">
                    <label>Turno</label>
                    {{ form_widget(form.turno, {'attr': {'class': 'form-control-sm' } }) }}
        </div>
        <div class="col-lg-2">
            <div class="form-check form-check-inline">

                    {{ form_label(form.planeada) }}
                    {{ form_widget(form.planeada) }}

            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-check form-check-inline">

                    {{ form_label(form.espontanea) }}
                    {{ form_widget(form.espontanea) }}

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">

                <label for="">¿Qué se observa?</label>
                {{ form_widget(form.observacion, {'attr': {'class': 'form-control counted' } }) }}

        </div>
    </div>
    <hr>
    <h2>Identificacón del hallazgo</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_widget(form.ingresar, {'attr': {'class ': 'btn btn-default btn-cons m-t-10'} }) }}

        </div>
    </div>

    {{ form_end(form) }}





</div>





{% endblock %}
