{% extends('@Dash/layout.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/mio.css') }}">
{% endblock %}


{% block body %}


    <div class="col-lg-12">
        <h2>Revision de extintores</h2>
        <hr>
        {% if app.user.level.idl == 1 or app.user.level.idl == 2 %}
            <a class="btn btn-default btn-cons m-t-10" href="{{ path('newrex') }}"><i class="fa fa-plus"></i> Insertar</a>
        {% endif %}
        <div class="card-block">
            <div class="table-responsive">
                <div id="stripedTable_wrapper" class="dataTables_wrapper no-footer">
                    <table class="table table-striped dataTable no-footer " id="stripedTable" role="grid" align="center" >

                            <tr align="center">
                                <td>No.</td>
                                <td>Tipo de extintor</td>
                                <td colspan="3" >El extintor se encontró en su lugar</td>
                                <td colspan="2">Cuenta con el sello de garantía sin violar</td>
                                <td colspan="2">Cuenta con la nemotecnia del funcionamiento</td>
                                <td colspan="2">Cuenta con la fecha de última recarga, agente extintor y cap. nominal</td>
                                <td colspan="2">Se encuentra libre de obstaculos</td>
                                <td colspan="2">Las ruedas de los extintores móviles se encuentran en buenas condiciones</td>
                                <td colspan="2">Cuenta con señalamientos</td>
                                <td colspan="2">Presentan daños físicos, corrosión, escape de presión, golpes, etc</td>
                                <td style="width:1000px">Fecha de creación</td>
                            </tr>

                        <tr align="center">
                            <td></td>
                            <td></td>
                            <td>Ubicación</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td>Si</td>
                            <td>No</td>
                            <td  style="width:1000px"></td>

                        </tr>
                        <tr  align="center">
                            {% for ex in extintor %}
                                <td>{{ ex.idreevext }}</td>
                                <td>{{ ex.tipo }}</td>
                                <td>{{ ex.ubicacion }}</td>
                                <td>
                                {% if ex.ubicacionLugar == 1 %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                                </td>
                                <td>
                                {% if ex.ubicacionLugar == 2 %}
                                    <i class="fa fa-check"></i>
                                {% endif %}
                                </td>
                                <td>
                                    {% if ex.sello == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.sello == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.nemotecnia == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.nemotecnia == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.ultimaCarga == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.ultimaCarga == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.obstaculos == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.obstaculos == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.ruedas == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.ruedas == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.senalamientos == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.senalamientos == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.danos == 1 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if ex.danos == 2 %}
                                        <i class="fa fa-check"></i>
                                    {% endif %}
                                </td>
                                <td  style="width:1000px">{{ ex.createdAt| date }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>


    </div>




{% endblock %}
