{% extends('@Dash/layout.html.twig') %}

{% block body %}


    <div class="col-lg-12">
        <h2>Datos del observador</h2>
        {{ form_start(edit_form) }}
        <div class="row">

            <div class="col-lg-6">

                <div class="form-group">
                    <fieldset disabled>
                        <label>Nombre del Observador</label>
                        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control'} }) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
               <div class="form-check form-check-inline">
                    <fieldset disabled>
                        {{ form_label(edit_form.colaborador) }}
                        {{ form_widget(edit_form.colaborador) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-check form-check-inline">
                    <fieldset disabled>
                        {{ form_label(edit_form.contratista) }}
                        {{ form_widget(edit_form.contratista) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-check form-check-inline">
                    <fieldset disabled>
                        {{ form_label(edit_form.visitante) }}
                        {{ form_widget(edit_form.visitante) }}
                    </fieldset>
                </div>
            </div>



        </div>


        <div class="row">

            <div class="col-lg-6">

                <div class="form-group">
                    <fieldset disabled>
                        <label>Lugar</label>
                        {{ form_widget(edit_form.lugar, {'attr': {'class': 'form-control'} }) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <fieldset disabled>
                        <label>Tipo de observación</label>
                        {{ form_widget(edit_form.tipo_observacion, {'attr': {'class': 'form-control'} }) }}
                    </fieldset>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-lg-2">

                <div class="input-group date">
                    <fieldset disabled>
                        <label>Fecha</label>
                        {{ form_widget(edit_form.fecha) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <fieldset disabled>
                        <label>Hora</label>
                        {{ form_widget(edit_form.hora) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-group">
                    <fieldset disabled>
                        <label>Turno</label>
                        {{ form_widget(edit_form.turno, {'attr': {'class': 'form-control-sm' } }) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-check form-check-inline">
                    <fieldset disabled>
                        {{ form_label(edit_form.planeada) }}
                        {{ form_widget(edit_form.planeada) }}
                    </fieldset>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-check form-check-inline">
                    <fieldset disabled>
                        {{ form_label(edit_form.espontanea) }}
                        {{ form_widget(edit_form.espontanea) }}
                    </fieldset>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset disabled>
                    <label for="">¿Qué se observa?</label>
                    {{ form_widget(edit_form.observacion, {'attr': {'class': 'form-control counted' } }) }}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <fieldset disabled>
                    {{ form_widget(edit_form.ingresar, {'attr': {'class ': 'btn btn-primary'} }) }}
                    <a class="btn btn-primary" href="{{ path('raa') }}" role="button">Regresar</a>
                </fieldset>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
